@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  #root {
    @apply h-full;
  }

  html,
  body {
    @apply h-full;

    @apply select-none;

    @apply bg-transparent;

    @apply font-mono antialiased text-white;

    @apply overflow-hidden;
  }

  header {
    -webkit-app-region: drag;
  }

  button {
    -webkit-app-region: no-drag;
  }

  ::-webkit-scrollbar {
    @apply w-2 h-10;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-[#595b54] rounded-lg;
  }

  ::-webkit-scrollbar-track {
    @apply bg-transparent;
  }
}